{% extends 'base.html' %}
{% block content %}
      <div class="page-container">
            <div class="summary-container">
                  <div class="user-summary-box">
                        <h3>User Summary</h3>
                        <div id="userSummaryContent">
                              <!-- User summaries will be dynamically inserted here -->
                        </div>
                        <div class="total-summary">
                              <hr>
                              <div class="total-row">
                                    <span>Current Total:</span>
                                    <span id="grandTotal">$0</span>
                              </div>
                              <div class="total-row">
                                    <span>Bill subtotal:</span>
                                    {% for data in meta_data %}
                                    <span id="grandTotal">${{ data[3] }}</span>
                                    {% endfor %}
                              </div>
                              <div class="total-row">
                                    <span>Total tax:</span>
                                    {% for data in meta_data %}
                                    <span id="grandTotal">${{ data[4] }}</span>
                                    {% endfor %}
                              </div>
                              
                        </div>
                  </div>
                  <div class="submit-container">
                        <button id="submitButton" class="btn btn-primary" onclick="submitSplits()">Submit Splits</button>
                    </div>
            </div>

            <table>
                  <tr>
                        {% for header in headings %}
                        <th>{{ header }}</th>
                        {% endfor %}
                        <th>Price per person</th>
                  </tr>
                  
                  {% for row in data %}
                  <tr>
                        <td class="dropdown">
                              <div class="form-group col-sm-8">
                                    <div class="multiselect">
                                          <div class="selectBox" onclick="toggleCheckboxArea(this)">
                                                <select class="form-select">
                                                      <option>somevalue</option>
                                                </select>
                                                <div class="overSelect"></div>
                                          </div>
                                          <div class="selectOptions">
                                                {% for user in group_data %}
                                                <label><input type="checkbox" onchange="checkboxStatusChange(this)" value="{{ user }}" />{{ user }}</label>
                                                {% endfor %}
                                          </div>
                                    </div>
                              </div>
                        </td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>${{row[4]}}</td>
                        <td style="display:none;">{{row[0]}}</td>
                        <td class="price-per-user">$0</td>
                  </tr>
                  {% endfor %}
            </table>
      </div>
{% endblock %}